<table class="primary friends-table">
	<thead>
		<tr>
			<th {{action "setSortBy" "firstName"}} class="{{sort-class 'firstName' sortBy sortAscending}}">Name</th>
			<th {{action "setSortBy" "totalArticles"}} class="{{sort-class 'totalArticles' sortBy sortAscending}}">Articles</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |friend|}}
			<tr>
				<td>{{link-to friend.fullName 'articles' friend.id}}</td>
				<td>{{friend.totalArticles}}</td>
				<td><a href="#" {{action "delete" friend.id}}>Delete</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>