<div class="friend-profile">
	{{fill-murray width="300" height="300"}}
	<p>First Name: {{model.firstName}}</p>
	<p>Last Name: {{model.lastName}}</p>
	<p>Email: {{model.email}}</p>
	<p>Twitter: {{model.twitter}}</p>
	<p>{{link-to 'Lend Article' 'articles.new'}}</p>
	<p>{{link-to 'Edit' 'friends.edit' model.id}}</p>
	<p><a href="#" {{action "delete" model.id}}>Delete</a></p>
</div>

<div class="articles-container">
	{{outlet}}
</div>